{% for service in services %}
    <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="{{ loop.index }}00ms">
        <div class="media service-box">
            <div class="pull-left">
                <i class="fa {{ service.icon }}"></i>
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{ service.name }}</h4>
                <p>{{ service.description }}</p>
            </div>
        </div>
    </div><!--/.col-md-4-->
{% endfor %}