{% for opinion in testimonials %}
    <div class="item {% if loop.index == 1 %}active{% endif %}">
        <p><img class="img-circle img-thumbnail" src="{{ 'assets/images/testimonial/01.jpg'|theme }}"
                alt=""></p>
        <h4>{{ opinion.name }}</h4>
        <small>{{ opinion.position }}</small>
        <p>{{ opinion.opinion }}</p>
    </div>
{% endfor %}