{% for process in processes %}
    <div class="col-md-2 col-md-4 col-xs-6">
        <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="{{ loop.index0 }}00ms">
            <div class="icon-circle">
                <span>{{ process.position }}</span>
                <i class="fa {{ process.icon }} fa-2x"></i>
            </div>
            <h3>{{ process.name }}</h3>
        </div>
    </div>
{% endfor %}