{% for entry in offer %}
    <div class="media service-box wow fadeInRight">
        <div class="pull-left">
            <i class="fa {{ entry.icon }}"></i>
        </div>
        <div class="media-body">
            <h4 class="media-heading">{{ entry.name }}</h4>
            <p>{{ entry.description }}</p>
        </div>
    </div>
{% endfor %}
