{% for fact in funfacts %}
    <div class="col-sm-3 col-xs-6">
        <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="{{ loop.index0 }}00ms">
            <div class="animated-number" data-digit="{{ fact.value }}" data-duration="1000"></div>
            <strong>{{ fact.name }}</strong>
        </div>
    </div>
{% endfor %}