{% for person in team %}
    <div class="col-sm-6 col-md-3">
        <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
            <div class="team-img">
                <img class="img-responsive" src="{{ 'assets/images/team/01.jpg'|theme }}" alt="">
            </div>
            <div class="team-info">
                <h3>{{ person.name }}</h3>
                <span>{{ person.position }}</span>
            </div>
            <p>{{ person.descripotion }}</p>
            <ul class="social-icons">
                {% if person.facebook %}<li><a href="{{ person.facebook }}"><i class="fa fa-facebook"></i></a></li>{% endif %}
                {% if person.twitter %}<li><a href="{{ person.twitter }}"><i class="fa fa-twitter"></i></a></li>{% endif %}
                {% if person.google %}<li><a href="{{ person.google }}"><i class="fa fa-google-plus"></i></a></li>{% endif %}
                {% if person.linkedin %}<li><a href="{{ person.linkedin }}"><i class="fa fa-linkedin"></i></a></li>{% endif %}
            </ul>
        </div>
    </div>
{% endfor %}